*{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

body{
    background-color: rgb(238, 239, 240);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
    background-color: rgb(255, 255, 255);
    gap: 70px;
}

.header img{
    width: 100px;
}

.header img:nth-child(3){
    width: 40px;
    margin-left: 0%;

}

.header img:nth-child(4){
    width: 40px;
    margin-left: 0% ;
}